/* client/src/Components/Comments/Comments.css */

.Comments .float-add-item .glyphicon {
	color: green;
	position: fixed;
	top: 93px;
	right: 50px;
	transform: scale(2.0);
	cursor: pointer;
}

.Comments .update-item .glyphicon {
	color: blue;
	cursor: pointer;
}

.Comments .delete-item .glyphicon {
	color: red;
	cursor: pointer;
}
